h2 {
    justify-self: center;
}

@media (max-width: 850px) {
    h2 {
        font-size: 40pt;
        justify-self: left;
    }
}

main {
    padding: 1em;
}

.buttons {
    display: flex;
    gap: 2em;
    margin: 1em 0;
    justify-self: center;
}

main button {
    display: flex;
    gap: 5px;
    align-items: center;
}

#alert {
    display: none;
}
@media (orientation: portrait) {
    #alert {
        display: flex;
        padding: 1em;
        flex-direction: column;
        align-items: center;
        position: fixed;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 120;
        background: var(--bg-light);
        text-align: center;
    }

    #alert * {
        max-width: 400px;
    }

    #alert .rotate {
        width: 70px;
        height: 70px;
    }

    #alert .close {
        position: absolute;
        left: 5px;
        top: 5px;
        width: 40px;
        height: 40px;
    }
}

#synths>div>div {
    display: grid;
}

#synths label {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    margin: 0.5em;
    gap: 0.5em;
}

.description {
    margin-top: 2em;
    max-width: 800px;
    justify-self: center;
}