.cards {
    display: grid;
    gap: 5em;
    overflow: hidden;
}

.card {
    display: grid;
    gap: 1em;
    margin: 1em;
    padding: 1em;
    background: var(--bg-blur);
    border-radius: 10px;
    box-shadow: 5px 5px 10px var(--shadow-col);
    backdrop-filter: blur(10px);
    transition: all 500ms;
    opacity: 0;
}

.try-link {
    display: block;
    justify-self: center;
    margin: 1em;
    background: var(--accent-alt);
    color: var(--bg-light);
    font-weight: 700;
    box-shadow: 0 0 7px var(--accent-glow-alt);
    border-radius: 5px;
    padding: 0.5em;
    transition: all 200ms;
    cursor: pointer;
}

.try-link:hover {
    background: var(--accent-alt-hover);
}

.try-link:active {
    transition: all 50ms;
    background: var(--accent-col);
}

@media (min-width: 600px) {
    .card:nth-child(odd) {
        grid-column: 2/4;
        transform: translate(150px, 0px);
    }

    .card:nth-child(even) {
        grid-column: 1/3;
        transform: translate(-150px, 0px);
    }

    .card a {
        justify-self: left;
    }
}

.card.onscreen {
    transform: none;
    opacity: 1;
}

.card * {
    grid-column: 1/1;
}

.card h2 {
    padding-left: 50px;
    background: var(--bg-dark);
    border-radius: 10px;
}

.card img {
    display: flex;
    justify-self: left;
    border-radius: 10px;
    max-width: 100%;
    min-width: 250px;
    object-fit: fit;
}

.card h2 {
    transition: all 300ms;
}

.card:hover {
    background: var(--bg-light);

    & h2 {
        color: var(--accent-alt);
        text-shadow: 0 0 5px var(--accent-glow-alt);
    }
}

main {
    display: flex;
    flex-direction: column;
}

.feedback {
    margin: 1em;
    align-self: center;
    text-align: center;
}