:root {
    --cell-size: 40px;
}

#pattern {
    display: grid;
    grid-auto-flow: column;
    gap: 8px;
    overflow-x: auto;
    max-width: 85vw;
    width: fit-content;
    justify-self: center;
    user-select: none;
    scrollbar-color: var(--bg-light) var(--bg-dark);
    cursor: crosshair;
}

.pattern-editor-grid {
    display: grid;
    width: fit-content;
    grid-auto-flow: column;
    gap: 5px;
    user-select: none;
}

.goto {
    width: var(--cell-size);
    height: calc(var(--cell-size) * 0.5);
    border-radius: 5px 5px 0 0;
    background: var(--bg-blur);
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border-radius: 3px;
    background: var(--bg-light);
    user-select: none;
}

.cell.cell-active {
    background: var(--accent-col);
    z-index: 1;
    box-shadow: 0 0 10px var(--accent-glow);
}

.cell.cell-playing {
    border: solid 2px var(--accent-glow-alt);
}

.cell.cell.cell-active.cell.cell-playing {
    background: var(--accent-alt);
    box-shadow: 0 0 10px var(--accent-glow-alt);
}